/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ////////////////////////////////////////////////// */
body {
	font-family: "Roboto", sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 1.9rem;
	font-weight: 700;
	margin-top: 24px;
}
.header {
	height: 10%;
}

.content {
	box-sizing: border-box;
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-template-rows: repeat(auto-fill, 320px);
	height: 80%;
	background-color: #19a7ce;
	gap: 50px;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	height: 10%;
	background-color: #146c94;
	align-items: center;
}

.header {
	display: flex;
	background-color: #f6f1f1;
	padding-left: 24px;
}

#add {
	justify-self: flex-end;
	height: auto;
	width: 70px;
	aspect-ratio: 1 / 1;
	border-radius: 45px;
	border: 2px solid black;
	font-size: 1.6rem;
	font-weight: bold;
}

.content > div {
	padding: 15px;
	box-sizing: border-box;
	background-color: #fdf4f5;
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	justify-content: space-around;
	align-items: center;
}

.content button {
	align-self: stretch;
	height: 45px;
	border: 2px solid black;
}

.read {
	background-color: #4ade80;
}

.unread {
	background-color: red;
}

.pop-up {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.add-book form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	gap: 15px;
	padding: 15px;
}
.add-book input {
	height: 20px;
}
h2 {
	font-size: 1.5rem;
	font-size: bold;
}

.submit {
	align-self: stretch;
	height: 30px;
}

.hidden {
	visibility: hidden;
}
